#gridaddon {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". main .";

    @include xl {
        grid-template-columns: auto 1168px auto;
    }

    >div {
        grid-area: main;
        background-color: var(--gfgrey);
        border-radius: 16px;
        margin-top: 32px;

        #addon-title {
            padding-left: 16px;
            font-family: 'Arvo', sans-serif;
            font-weight: 700;
            font-size: rem-calc(22);
            margin-bottom:-4px;

            @include md {
                margin-bottom: -24px;
            }

        }

        #margin-in-box {
            display: grid;
            grid-template-columns: 20% auto 20%;
            grid-template-areas: 
            ". c1 ."
            ". c2 ."
            ". c3 ."
            ". c4 .";

           //display: flex; 
           //flex-direction: column;
           //align-items: left;
           //box-sizing: border-box;

            @include sm{
                display: flex;
                flex-direction:row;
                justify-content: space-between;
                gap: 32px;
                flex-wrap: wrap;
                padding: 16px 32px;

            }
 


            @include md {
                display: flex;
                flex-direction:row;
                justify-content: space-between;
                gap: 56px;
                flex-wrap: wrap;
                padding: 16px 108px;

            }

            @include lg {
                padding: 16px;
                display: flex;
                flex-wrap: nowrap;
                gap: 16px;
                justify-content: space-between;
            }



            #filter {
                grid-area: c1;
                display: grid;
                grid-template-rows: (5, 1fr);
                grid-template-areas:
                    "f1 f1 f2 f3 f4";

                #img {
                    grid-area: f1;
                    background-image: url(../img/addons/filter.png);
                    height: 248px;
                    width: 100%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    box-sizing: border-box;

                    @include sm{
                        height: 188px;
                        width: 188px;
                    }


                    @include md {
                        height: 224px;
                        width: 224px;

                    }


                    @include lg {
                        height: 180px;
                        width: 180px;

                    }



                }

                #title {
                    grid-area: f2;
                    font-size: rem-calc(24);
                    font-weight: 700;

                    @include sm{

                        font-size: rem-calc(18);
                    }

                }

                #price {
                    grid-area: f3;
                    font-size: rem-calc(16);

                    margin-right: 0px;

                    @include sm{
                        margin-right: 0px;
                    }
                }

                #button {
                    grid-area: f4;
                    padding-top: 16px;
                    

                    @include sm {
                        padding-top: 38px;
                    }

                }

            }

            #proofgrade {
                grid-area: c2;
                padding-top: 32px;
                display: grid;
                grid-template-rows: (5, 1fr);
                grid-template-areas:
                    "p1 p1 p2 p3 p4";

                   
                @include sm {
                    padding: 0px;
                }

                #img {
                    grid-area: p1;
                    background-image: url(../img/addons/proofgrade.png);
                    height: 248px;
                    width: 100%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    box-sizing: border-box;

                    @include sm{
                        height: 188px;
                        width: 188px;
                    }
                    


                    @include md {
                        height: 224px;
                        width: 224px;

                    }


                    @include lg {
                        height: 180px;
                        width: 180px;

                    }



                }

                #title {
                    grid-area: p2;
                    font-size: rem-calc(24);
                    font-weight: 700;

                    @include sm{

                        font-size: rem-calc(18);
                    }

                }

                #price {
                    grid-area: p3;
                }

                #button {
                    grid-area: p4;
                    padding-top: 16px;
                }



            }

            #accessorykit {
                grid-area: c3;
                padding-top: 32px;
                display: grid;
                grid-template-rows: (5, 1fr);
                grid-template-areas:
                    "a1 a1 a2 a3 a4";

                    


                @include sm {
                    padding: 0px;
                }

                #img {
                    grid-area: a1;
                    background-image: url(../img/addons/accessory.png);
                    height: 248px;
                    width: 100%;
                    background-size: cover;
                    background-position: center bottom;
                    background-repeat: no-repeat;
                    box-sizing: border-box;
                

                    @include sm{
                        height: 188px;
                        width: 188px;
                        background-position: center;
                    }


                    @include md {
                        height: 224px;
                        width: 224px;

                    }


                    @include lg {
                        height: 180px;
                        width: 180px;

                    }


                }

                #title {
                    grid-area: a2;
                    font-size: rem-calc(24);
                    font-weight: 700;

                    @include sm{

                        font-size: rem-calc(18);
                    }
                }

                #price {
                    grid-area: a3;
                }

                #button {
                    grid-area: a4;
                    padding-top: 16px;

                    @include lg {
                        padding-top: 38px;
                    }
                }

            }

            #warranty {
                grid-area: c4;
                padding-top: 32px;
                padding-bottom: 32px;
                display: grid;
                grid-template-rows: (5, 1fr);
                grid-template-areas:
                    "w1 w1 w2 w3 w4";

                    



                @include sm {
                    padding: 0px;
                }

                #img {
                    grid-area: w1;
                    background-image: url(../img/addons/warranty.png);
                    height: 248px;
                    width: 100%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    box-sizing: border-box;
                    

                    @include sm{
                        height: 188px;
                        width: 188px;
                    }

                    @include md {
                        height: 224px;
                        width: 224px;

                    }


                    @include lg {
                        height: 180px;
                        width: 180px;

                    }



                }

                #title {
                    grid-area: w2;
                    font-size: rem-calc(24);
                    font-weight: 700;
                    

                    @include sm{

                        font-size: rem-calc(18);
                    }
                }

                #price {
                    grid-area: w3;
                    margin-right: 0px;

                    @include sm{
                        margin-left: 0px;
                    }
                }

                #button {
                    grid-area: w4;
                    padding-top: 16px;

                    @include lg {
                        padding-top: 38px;
                    }
                }


            }


        }



    }
}