#gridaddon {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". main .";

    @include xl {
        grid-template-columns: auto 1168px auto;
    }

    >div {
        grid-area: main;
        background-color: var(--gfgrey);
        border-radius: 16px;
        margin-top: 32px;

        #addon-title {
            padding-left: 16px;
            font-family: 'Arvo', sans-serif;
            font-weight: 700;
            font-size: rem-calc(22);
            margin-bottom:-4px;

            @include md {
                margin-bottom: -24px;
            }

        }

        #margin-in-box {
            padding: 0px 48px;



            @include md {
                display: flex;
                justify-content: space-between;
                gap: 56px;
                flex-wrap: wrap;
                padding: 16px 96px;

            }

            @include lg {
                padding: 16px;
                display: flex;
                flex-wrap: nowrap;
                gap: 16px;
                justify-content: space-between;
            }



            #filter {
                display: grid;
                grid-template-rows: (5, 1fr);
                grid-template-areas:
                    "f1 f1 f2 f3 f4";

                #img {
                    grid-area: f1;
                    width: 100%;
                    background-color: navy;


                    @include md {
                        height: 224px;
                        width: 224px;

                    }


                    @include lg {
                        height: 180px;
                        width: 180px;

                    }



                }

                #title {
                    grid-area: f2;
                }

                #price {
                    grid-area: f3;
                }

                #button {
                    grid-area: f4;
                    padding-top: 16px;

                    @include md {
                        padding-top: 38px;
                    }

                }

            }

            #proofgrade {
                padding-top: 32px;
                display: grid;
                grid-template-rows: (5, 1fr);
                grid-template-areas:
                    "p1 p1 p2 p3 p4";

                @include md {
                    padding: 0px;
                }

                #img {
                    grid-area: p1;
                    width: 100%;
                    background-color: navy;

                    @include md {
                        height: 224px;
                        width: 224px;

                    }


                    @include lg {
                        height: 180px;
                        width: 180px;

                    }



                }

                #title {
                    grid-area: p2;

                }

                #price {
                    grid-area: p3;
                }

                #button {
                    grid-area: p4;
                    padding-top: 16px;
                }



            }

            #accessorykit {
                padding-top: 32px;
                display: grid;
                grid-template-rows: (5, 1fr);
                grid-template-areas:
                    "a1 a1 a2 a3 a4";


                @include md {
                    padding: 0px;
                }

                #img {
                    grid-area: a1;
                    width: 100%;
                    background-color: navy;

                    @include md {
                        height: 224px;
                        width: 224px;

                    }


                    @include lg {
                        height: 180px;
                        width: 180px;

                    }



                }

                #title {
                    grid-area: a2;
                }

                #price {
                    grid-area: a3;
                }

                #button {
                    grid-area: a4;
                    padding-top: 16px;

                    @include lg {
                        padding-top: 38px;
                    }
                }

            }

            #warranty {
                padding-top: 32px;
                padding-bottom: 32px;
                display: grid;
                grid-template-rows: (5, 1fr);
                grid-template-areas:
                    "w1 w1 w2 w3 w4";


                @include md {
                    padding: 0px;
                }

                #img {
                    grid-area: w1;
                    width: 100%;
                    background-color: navy;

                    @include md {
                        height: 224px;
                        width: 224px;

                    }


                    @include lg {
                        height: 180px;
                        width: 180px;

                    }



                }

                #title {
                    grid-area: w2;
                }

                #price {
                    grid-area: w3;
                }

                #button {
                    grid-area: w4;
                    padding-top: 16px;

                    @include lg {
                        padding-top: 38px;
                    }
                }


            }


        }



    }
}