#grid {

    >div {
        padding-top: 32px;

        #bg-img {
            background-image: url("../img/GlowForgeLineUp.jpg");
            background-size: cover;
            height: 200px;
            background-position: 20%;

            @include md {
                height: 441px;
                background-position: 60% bottom;
            }

            @include lg {
                height: 441px;
            }

        }



        #family-position {
            margin-top:-200px;
            
            @include md{
                display: grid;
                grid-template-columns: "16px auto 16px";
                grid-template-areas: ". main.";
                margin-top: -350px;
                margin-bottom: 200px;
                margin-right: auto;

            }

            @include lg {
                margin-top: 0px;
   
               
            }

            @include xl {
                grid-template-columns: auto 1168px auto;
            }





            #family-info {
                grid-area: main;
                background-color: rgba(21, 47, 53, 0.6);
                padding: 42px 24px;


                @include md{
                    border-radius:16px;
                    
                }
                

                @include lg{
                    margin-left: -80px;
                    margin-right: 300px;

                }

                @include xl{
                    margin-left: 0;
                }

                #family-title {
                    opacity: 1;
                    color: var(--white);
                    z-index: 10000;
                    font-family: 'Arvo', serif;
                    font-size: rem-calc(25);
                    margin-top: -2px;
                    padding-top: 12px;
                    padding-bottom: 22px;


                }

                #family-base {
                    opacity: 1;
                    color: var(--white);
                    z-index: 10000;
                    display: none;

                    @include md{
                        display: block;
                    }

                }

                #family-link {
                    opacity: 1;
                    color: var(--white);
                    z-index: 10000;
                    

                }
            }
        }

    }



}