#background-color {
    background-color: var(--gfbluedark);
    margin-top: -152px;

    @include md {
        background-color: var(--gfbluelight);
        margin-top: -86px;
    }

    @include lg {
        margin-top: -124px;
    }

    #gridreview {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". main .";
        margin-top: 150px;

        @include md {
            grid-template-columns: 32px auto 32px;
        }

        @include lg {
            grid-template-columns: 48px auto 48px;
        }

        @include xl {
            grid-template-columns: auto 1090px auto;
        }

        >div {
            grid-area: main;
            margin-top: 16px;
            background-color: var(--gfbluedark);
            border-radius: 16px;
            color: var(--white);
            padding-left: 24px;
            padding-right: 24px;


            #reviews-header {
                display: flex;
                flex-direction: row;
                text-align: center;
                justify-content: space-between;
                align-content: right;
                border-bottom: 4px solid var(--gfgold);

                #header-review {
                    font-family: 'Arvo', serif;
                    font-size: rem-calc(18);
                    font-weight: 700;
                    margin-top: -14px;
                    margin-bottom: -6px;

                    @include sm{
                        font-size: rem-calc(22);
                    }

                    @include md{
                        margin-top: 4px;
                    }
                }
                #buttons-rev{
                    display: flex;
                    text-align:center;
                    gap: 8px;
                    margin-bottom: 16px;

                    @include md{
                        margin-top: 17px;
                    }

                    
                    
                    #writing {
                        margin-top: 16px;
                        display: none;
    
                        @include sm{
                            display: block;
                        }
    
                        @include lg {
                            margin-top: 26px;
                            margin-left: 8px;
                        }
    
    
                    }

                    #question{

                        @include sm{
                            margin-top: 16px;
                        }
                        

                        @include lg{
                            margin-top: 26px;
                        }
                    }
    
                    #writing-icon{
                        
    
                        @include sm{
                            display: none;
                        }
                    }
                }
                

            }

            #reviews-star {
                padding-top: 24px;


                @include md {
                    display: grid;
                    grid-template-columns: 50% auto;
                    grid-template-areas:
                        "s d"
                        "l d"

                }


                #main-stars {
                    grid-area: s;
                    color: var(--gfgold);
                    font-size: rem-calc(36);

                }

                #average-link {
                    grid-area: l;
                    font-size: rem-calc(12);
                    padding-top: 16px;
                    text-decoration: underline;

                    margin-right: 120px;

                    a:link,
                    a:visited {
                        transition: 0.25s;
                        color: var(--white);
                        padding-bottom: 24px;

                        &:hover {
                            color: var(--gfblue);
                        }

                        &:active {
                            color: var(--gfgold);
                        }
                    }

                }

                #dropdown-1 {
                    grid-area: d;
                    margin-top: 24px;
                    text-align: right;

                    button {
                        background-color: var(--gfblue);
                        color: white;
                        padding: 8px 64px;
                        width: 100%;
                        display: inline-block;
                        border: none;
                        border-radius: 8px;
                        font-weight: 600;
                        font-size: rem-calc(14);
                        transition: 0.25s;

                        @include lg{
                            width: 75%
                        }

                        &:active {
                            background-color: var(--gfgold);
                        }

                        &:hover {
                            background-color: var(--gfbluelight);
                        }

                        #carat-rev {
                            padding: 0px 8px;

                        }
                    }



                }
            }

            #review-keyword {
                font-size: rem-calc(20);
                
            
                #buttons-rev{
                    margin-top: -12px;
                    button {
                        background-color: var(--gfblue);
                        color: white;
                        padding: 8px 8px;
                        width: 100%;
                        display: inline-block;
                        border: none;
                        border-radius: 8px;
                        font-weight: 600;
                        font-size: rem-calc(14);
                        transition: 0.25s;
                        margin: 4px 0px;
    
                        &:active {
                            background-color: var(--gfgold);
                        }
    
                        &:hover {
                            background-color: var(--gfbluelight);
                        }

                        @include sm{
                            width:auto;
                            padding: 8px 24px;
                        }
                    }
                }
            }  

                #review-cards {

                    @include md {
                        display: grid;
                        grid-template-columns: 72px auto 72px;
                        grid-template-areas:
                            ". card .";

                    }

                    #grid-area-cards {
                        grid-area: card;
                        color: var(--gfbluedark);


                        #review-card-1 {
                            margin-top: 24px;
                            background-color: var(--white);
                            padding: 16px;
                            border-radius: 16px;

                            @include md {
                                padding: 24px;
                            }

                            #top-info-rev {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;

                                #default-user {
                                    font-size: rem-calc(24);
                                    border: 2px solid var(--gfbluedark);
                                    padding: 6px;
                                    border-radius: 8px;
                                    margin-right: 16px;

                                }

                                #cards-stars {
                                    font-size: rem-calc(28);
                                    color: var(--gfgold);

                                    @include sm{
                                        font-size: rem-calc(32);
                                    }


                                }

                            }

                            #card-title {
                                font-weight: 400;
                                font-size: rem-calc(24);
                                margin-top: 16px;

                            }

                            #username {
                                margin-top: -16px;

                                a:link,
                                a:visited {
                                    transition: 0.25s;
                                    color: var(--gfblue);
                                    padding-bottom: 24px;
                                    font-size: rem-calc(16);

                                    &:hover,
                                    &:active {
                                        color: var(--gfgold);
                                    }
                                }


                            }

                            #rev-card-content {
                                font-size: rem-calc(14);
                                line-height: 20px;
                                padding: 16px 0px 0px;
                                margin-top: -4px;
                            }

                            #rev-card-img {
                                display: flex;
                                justify-content: flex-start;
                                gap: 16px;

                                #rev-img-1 {
                                    height: 85px;
                                    background-color: slategray;

                                    @include md {
                                        height: 145px;
                                    }

                                }

                                #rev-img-2 {
                                    height: 85px;
                                    background-color: slategray;

                                    @include md {
                                        height: 145px;
                                    }

                                }

                            }

                        }

                        #review-card-2 {
                            margin-top: 24px;
                            background-color: var(--white);
                            padding: 16px;
                            border-radius: 16px;

                            @include md {
                                padding: 24px;
                            }

                            #top-info-rev {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;

                                #default-user {
                                    font-size: rem-calc(24);
                                    border: 2px solid var(--gfbluedark);
                                    padding: 6px;
                                    border-radius: 8px;
                                    margin-right: 16px;

                                }

                                #cards-stars {
                                    font-size: rem-calc(28);
                                    color: var(--gfgold);

                                    @include sm{
                                        font-size: rem-calc(32);
                                    }

                                }

                            }

                            #card-title {
                                font-weight: 400;
                                font-size: rem-calc(24);
                                margin-top: 16px;

                            }

                            #username {
                                margin-top: -16px;

                                a:link,
                                a:visited {
                                    transition: 0.25s;
                                    color: var(--gfblue);
                                    padding-bottom: 24px;
                                    font-size: rem-calc(16);

                                    &:hover,
                                    &:active {
                                        color: var(--gfgold);
                                    }
                                }


                            }

                            #rev-card-content {
                                font-size: rem-calc(14);
                                line-height: 20px;
                                padding: 16px 0px 0px;
                                margin-top: -4px;
                                margin-bottom: 4px;
                            }
                        }

                        #review-card-3 {
                            margin-top: 24px;
                            background-color: var(--white);
                            padding: 16px;
                            border-radius: 16px;

                            @include md {
                                padding: 24px;
                            }

                            #top-info-rev {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;

                                #default-user {
                                    font-size: rem-calc(24);
                                    border: 2px solid var(--gfbluedark);
                                    padding: 6px;
                                    border-radius: 8px;
                                    margin-right: 16px;

                                }

                                #cards-stars {
                                    font-size: rem-calc(28);
                                    color: var(--gfgold);

                                    @include sm{
                                        font-size: rem-calc(32);
                                    }


                                }

                            }

                            #card-title {
                                font-weight: 400;
                                font-size: rem-calc(24);
                                margin-top: 16px;

                            }

                            #username {
                                margin-top: -16px;

                                a:link,
                                a:visited {
                                    transition: 0.25s;
                                    color: var(--gfblue);
                                    padding-bottom: 24px;
                                    font-size: rem-calc(16);

                                    &:hover,
                                    &:active {
                                        color: var(--gfgold);
                                    }
                                }


                            }

                            #rev-card-content {
                                font-size: rem-calc(14);
                                line-height: 20px;
                                padding: 16px 0px 0px;
                                margin-top: -4px;
                                margin-bottom: 4px;
                            }
                        }

                    }


                }

                #seemore {
                    padding: 24px 0px;
                    margin-bottom: 48px;

                    @include md {
                        margin-bottom: 0px;
                    }


                    a:link,
                    a:visited {
                        transition: 0.25s;
                        color: var(--white);
                        padding-bottom: 24px;
                        font-size: rem-calc(24);
                        font-weight: 600;


                        &:hover,
                        &:active {
                            color: var(--gfblue);
                        }
                    }

                    i {
                        padding: 0px 16px;

                    }
                }

            }
        }
    }
