#background-color {
    background-color: var(--gfbluedark);
    margin-top: -152px;

    @include md {
        background-color: var(--gfbluelight);
        margin-top: -86px;
    }

    @include lg{
        margin-top: -124px;
    }

    #gridreview {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". main .";
        margin-top: 150px;

        @include md {
            grid-template-columns: 32px auto 32px;
        }

        @include lg {
            grid-template-columns: 48px auto 48px;
        }

        @include xl {
            grid-template-columns: auto 1090px auto;
        }

        >div {
            grid-area: main;
            margin-top: 16px;
            background-color: var(--gfbluedark);
            border-radius: 16px;
            color: var(--white);
            padding-left: 24px;
            padding-right: 24px;


            #reviews-header {
                display: flex;
                text-align: center;
                border-bottom: 4px solid var(--gfgold);


                .flex1 {

                    h2 {}

                }


                .flex2 {
                    #question {
                        justify-content: space-around;
                        padding: 0;
                        margin: 12px;

                    }
                }

                .flex3 {
                    justify-content: space-between;
                    align-content: right;

                    #writing {
                        margin: 12px;

                    }
                }

                .flex-items {}

            }

            #reviews-star {
                padding-top: 16px;


                @include md {
                    display: grid;
                    grid-template-columns: 50% auto;
                    grid-template-areas:
                        "s d"
                        "l d"

                }


                #main-stars {
                    grid-area: s;
                    color: var(--gfgold);
                    font-size: rem-calc(36);

                }

                #average-link {
                    grid-area: l;
                    font-size: rem-calc(12);
                    padding-top: 16px;

                    a:link,
                    a:visited {
                        transition: 0.25s;
                        color: var(--white);
                        padding-bottom: 24px;

                        &:hover {
                            color: var(--gfblue);
                        }

                        &:active {
                            color: var(--gfgold);
                        }
                    }

                }

                #dropdown-1 {
                    grid-area: d;
                    padding-top: 16px;

                    @include md {
                        text-align: right;
                        padding-top: 0px;
                    }

                }
            }

            #review-keyword {}

            #review-cards {

                @include md {
                    display: grid;
                    grid-template-columns: 72px auto 72px;
                    grid-template-areas:
                        ". card .";

                }

                #grid-area-cards {
                    grid-area: card;
                    color: var(--gfbluedark);


                    #review-card-1 {
                        margin-top: 24px;
                        background-color: var(--white);
                        padding: 16px;
                        border-radius: 16px;

                        @include md {
                            padding: 24px;
                        }

                        #top-info-rev {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;

                            #default-user {
                                font-size: rem-calc(24);
                                border: 2px solid var(--gfbluedark);
                                padding: 6px;
                                border-radius: 8px;
                                margin-right: 16px;

                            }

                            #cards-stars {
                                font-size: rem-calc(32);
                                color: var(--gfgold);


                            }

                        }

                        #card-title {
                            font-weight: 400;
                            font-size: rem-calc(24);
                            margin-top: 16px;

                        }

                        #username {
                            margin-top: -16px;

                            a:link,
                            a:visited {
                                transition: 0.25s;
                                color: var(--gfblue);
                                padding-bottom: 24px;
                                font-size: rem-calc(16);

                                &:hover, &:active {
                                    color: var(--gfgold);
                                }
                            }


                        }

                        #rev-card-content {
                            font-size: rem-calc(14);
                            line-height: 20px;
                            padding:16px 0px 0px;
                            margin-top: -4px;
                        }

                        #rev-card-img {
                            display: flex;
                            justify-content: flex-start;
                            gap: 16px;

                            #rev-img-1{
                                height: 85px;
                                background-color: slategray;
                            @include md{
                                height: 145px;
                            }

                            }

                            #rev-img-2{
                                height: 85px;
                            background-color: slategray;
                            @include md{
                                height: 145px;
                            }

                            }
                            
                        }

                    }

                    #review-card-2 {
                        margin-top: 24px;
                        background-color: var(--white);
                        padding: 16px;
                        border-radius: 16px;

                        @include md {
                            padding: 24px;
                        }

                        #top-info-rev {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;

                            #default-user {
                                font-size: rem-calc(24);
                                border: 2px solid var(--gfbluedark);
                                padding: 6px;
                                border-radius: 8px;
                                margin-right: 16px;

                            }

                            #cards-stars {
                                font-size: rem-calc(32);
                                color: var(--gfgold);


                            }

                        }

                        #card-title {
                            font-weight: 400;
                            font-size: rem-calc(24);
                            margin-top: 16px;

                        }

                        #username {
                            margin-top: -16px;

                            a:link,
                            a:visited {
                                transition: 0.25s;
                                color: var(--gfblue);
                                padding-bottom: 24px;
                                font-size: rem-calc(16);

                                &:hover, &:active {
                                    color: var(--gfgold);
                                }
                            }


                        }

                        #rev-card-content {
                            font-size: rem-calc(14);
                            line-height: 20px;
                            padding:16px 0px 0px;
                            margin-top: -4px;
                            margin-bottom: 4px;
                        }
                    }

                    #review-card-3 {
                        margin-top: 24px;
                        background-color: var(--white);
                        padding: 16px;
                        border-radius: 16px;

                        @include md {
                            padding: 24px;
                        }

                        #top-info-rev {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;

                            #default-user {
                                font-size: rem-calc(24);
                                border: 2px solid var(--gfbluedark);
                                padding: 6px;
                                border-radius: 8px;
                                margin-right: 16px;

                            }

                            #cards-stars {
                                font-size: rem-calc(32);
                                color: var(--gfgold);


                            }

                        }

                        #card-title {
                            font-weight: 400;
                            font-size: rem-calc(24);
                            margin-top: 16px;

                        }

                        #username {
                            margin-top: -16px;

                            a:link,
                            a:visited {
                                transition: 0.25s;
                                color: var(--gfblue);
                                padding-bottom: 24px;
                                font-size: rem-calc(16);

                                &:hover, &:active {
                                    color: var(--gfgold);
                                }
                            }


                        }

                        #rev-card-content {
                            font-size: rem-calc(14);
                            line-height: 20px;
                            padding:16px 0px 0px;
                            margin-top: -4px;
                            margin-bottom: 4px;
                        }
                    }

                }


            }

            #seemore{
                padding: 24px 0px;
                margin-bottom:48px;
                @include md{
                    margin-bottom: 0px;
                }


                a:link,
                a:visited {
                    transition: 0.25s;
                    color: var(--white);
                    padding-bottom: 24px;
                    font-size: rem-calc(24);
                    font-weight:600;


                    &:hover, &:active {
                        color: var(--gfblue);
                    }
                }
                i{
                    padding: 0px 16px;

                }
            }

        }
    }

}