#gridcard {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". main .";
    padding-top: 108px;
    background-color: var(--white);

    @include lg {
        padding-top: 96px;
    }

    @include xl {
        grid-template-columns: auto 1110px auto;
    }

    >div {
        grid-area: main;
        margin-bottom: 80px;


        #cart-main {
            h1 {
                font-family: 'Arvo', serif;
                font-weight: 700;
                font-size: rem-calc(36);
                line-height: 24.7px;
                padding-bottom: 8px;
            }

            #main-product-cart {
                background-color: var(--gfgrey);
                padding: 16px;
                border-radius: 16px;




                @include md {
                    display: grid;
                    grid-template-columns: 50% auto;
                    grid-template-areas:
                        "g1 g2"
                        "g1 g3"
                        "g1 g4";
                    gap: 0px 16px;
                }

                @include lg {
                    grid-template-columns: 35% auto;
                    grid-template-areas:
                        "g1 g2"
                        "g1 g3"
                        "g1 g4";
                    gap: 0px 16px;
                }

                #cart-product-img {
                    grid-area: g1;
                    height: 100%;
                    width: 100%
                }

                h2 {
                    font-family: 'Arvo', serif;
                    font-weight: 700;
                    font-size: rem-calc(32)
                }

                #cart-title {
                    grid-area: g2;
                    font-family: 'Arvo', serif;
                    font-weight: 700;
                    font-size: rem-calc(20);
                    line-height: 24.7px;




                }

                #qty-slider {
                    grid-area: g3;
                    margin-right: auto;
                    padding: 8px 48px;
                    border: none;
                    border-radius: 16px;





                }

                #cart-price {
                    grid-area: g4;
                    font-weight: 600;
                    font-size: rem-calc(24);
                    margin-bottom: 24px;

                    @include md {
                        margin-bottom: 88px;

                    }


                }
            }


        }

        #cart-sub {
            padding-top: 32px;

            h1 {
                font-family: 'Arvo', serif;
                font-weight: 700;
                font-size: rem-calc(36);
                line-height: 24.7px;
                padding-bottom: 8px;
            }


            #card-color {
                background-color: var(--gfgrey);
                border-radius: 16px;
                margin-bottom: 40px;
                

                #grid-inside-card {


                    #cart-flex {
                        grid-area: sub;
                        display: grid;
                        grid-template-columns: 20% auto 20%;
                        grid-template-areas:
                            ". c1 ."
                            ". c2 ."
                            ". c3 ."
                            ". c4 .";

                        @include sm {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            gap: 32px;
                            flex-wrap: wrap;
                            padding: 16px 32px;

                        }


                        @include md {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            gap: 56px;
                            flex-wrap: wrap;
                            padding: 16px 108px;

                        }

                        @include lg {
                            padding: 16px;
                            display: flex;
                            flex-wrap: nowrap;
                            gap: 16px;
                            justify-content: space-between;
                        }


                        #add-ons-filter {
                            grid-area: c1;
                            padding: 0px;
                            margin: 0px;
                            padding-top: 16px;
                            display: grid;
                            grid-template-rows: (5, 1fr);
                            grid-template-areas:
                                "f1 f1 f2 f3 f4";

                            @include md {
                                padding-top: 0px;
                            }

                            #img-filter {
                                grid-area: f1;
                                background-image: url(../img/addons/filter.jpg);
                                height: 248px;
                                width: 100%;
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                box-sizing: border-box;

                                @include sm {
                                    height: 188px;
                                    width: 188px;
                                }


                                @include md {
                                    height: 224px;
                                    width: 224px;
                                    margin-top: 16px;

                                }


                                @include lg {
                                    height: 180px;
                                    width: 180px;
                                    margin-top: 8px;

                                }





                            }

                            #title-filter {
                                grid-area: f2;
                                grid-area: f2;
                    font-size: rem-calc(24);
                    font-weight: 700;

                    @include sm{

                        font-size: rem-calc(18);
                    }

                            }

                            #price-filter {
                                grid-area: f3;
                            }

                            #button-filter {
                                grid-area: f4;
                                padding-top: 16px;
                                text-align: right;

                                @include md {
                                    padding-top: 38px;
                                }


                            }
                        }

                        #add-ons-proofgrade {
                            grid-area: c2;
                            padding: 0px;
                            margin: 0px;
                            padding-top: 32px;
                            display: grid;
                            grid-template-rows: (5, 1fr);
                            grid-template-areas:
                                "p1 p1 p2 p3 p4";

                            @include md {
                                padding: 0px;
                            }

                            #img-proof {
                                grid-area: p1;
                                background-image: url(../img/addons/proofgrade.jpg);
                                height: 248px;
                    width: 100%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    box-sizing: border-box;

                    @include sm{
                        height: 188px;
                        width: 188px;
                        margin-top: -16px;
                    }
                    


                    @include md {
                        height: 224px;
                        width: 224px;
                        margin-top: 16px;

                    }


                    @include lg {
                        height: 180px;
                        width: 180px;
                        margin-top: 8px;
                        

                    }


                            }

                            #title-proof {
                                grid-area: p2;
                                font-size: rem-calc(24);
                    font-weight: 700;

                    @include sm{

                        font-size: rem-calc(18);
                    }

                            }

                            #price-proof {
                                grid-area: p3;
                            }

                            #button-proof {
                                grid-area: p4;
                                padding-top: 16px;
                                display: flex;
                                justify-content: space-between;


                                #QTY {
                                    margin-right: 4px;
                                    padding: 8px 16px;
                                    border: none;
                                    border-radius: 16px;
                                }

                                #add {}
                            }



                        }

                        #add-ons-accessory {
                            grid-area: c3;
                            padding: 0px;
                            margin: 0px;
                            padding-top: 32px;
                            display: grid;
                            grid-template-rows: (5, 1fr);
                            grid-template-areas:
                                "a1 a1 a2 a3 a4";

                            @include md {
                                padding: 0px;
                            }

                            #img-acc {
                                grid-area: a1;
                                background-image: url(../img/addons/accessory.jpg);
                                height: 248px;
                    width: 100%;
                    background-size: cover;
                    background-position: center bottom;
                    background-repeat: no-repeat;
                    box-sizing: border-box;
                

                    @include sm{
                        height: 188px;
                        width: 188px;
                        background-position: center;
                    }


                    @include md {
                        height: 224px;
                        width: 224px;

                    }


                    @include lg {
                        height: 180px;
                        width: 180px;
                        margin-top: 8px;

                    }


                            }

                            #title-acc {
                                grid-area: a2;
                                font-size: rem-calc(24);
                    font-weight: 700;

                    @include sm{

                        font-size: rem-calc(18);
                    }
                            }

                            #price-acc {
                                grid-area: a3;
                            }

                            #button-acc {
                                grid-area: a4;
                                padding-top: 16px;
                                text-align: right;

                               
                            }
                        }

                        #add-ons-warranty {
                            grid-area: c4;
                            padding: 0px;
                            margin: 0px;
                            padding-top: 32px;
                            padding-bottom: 32px;
                            display: grid;
                            grid-template-rows: (5, 1fr);
                            grid-template-areas:
                                "w1 w1 w2 w3 w4";

                            @include md {
                                padding: 0px;
                            }

                            #img-warranty {
                                grid-area: w1;
                               
                                background-image: url(../img/addons/warranty.jpg);
                                height: 248px;
                    width: 100%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    box-sizing: border-box;
                    

                    @include sm{
                        height: 188px;
                        width: 188px;
                        margin-right: 32px;
                    }

                    @include md {
                        height: 224px;
                        width: 224px; 
                        margin-right: 0px;

                    }


                    @include lg {
                        height: 180px;
                        width: 180px;
                        margin-top: 8px;
                    }

                            }

                            #title-warranty {
                                grid-area: w2;
                                font-size: rem-calc(24);
                    font-weight: 700;

                    @include sm{

                        font-size: rem-calc(18);
                    }
                            }

                            #price-warranty {
                                grid-area: w3;
                            }

                            #button-warranty {
                                grid-area: w4;
                                padding-top: 16px;
                                text-align: right;

                                @include sm{
                                    padding-top: 38px;
                                }

                                @include lg {
                                    padding-top: 38px;
                                }
                            }
                        }

                    }

                }

            }

        }
    }

}

#directional-links {


    display: flex;
    justify-content: space-between;
    align-items: center;

    #left-side {


        a:link,
        a:visited {
            display: inline-block;
            transition: 0.25s;
            color: var(--gfbluedark);
            font-size: rem-calc(15);


            &:hover {
                color: var(--gfblue);
            }

            &:active {
                color: var(--gfgold);
            }
        }
    }

    #ileft {
        padding-right: 8px;
    }

    #iright {
        padding-left: 8px;
    }



}