#needidig {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". main .";
    background-color: var(--gfblue);


    >div {
        grid-area: main;

        #titlethanks {
            display: flex;
            align-items: center;
            font-size: rem-calc(24);
            padding-left: 24px;
            padding-right: 24px;
            justify-content: center;
            color: var(--gfgold);
            margin-top: 175px;

            @include md{
                margin-top: 200px;
            }

            @include lg{
                margin-top: 300px;
            }
            

            #actualfont {
                font-size: rem-calc(20px);
                padding-left: 32px;
                padding-right: 32px;
                color: var(--white);


                @include md {
                    font-size: rem-calc(32px);

                }

                @include lg {
                    font-size: rem-calc(48);
                }
            }
        }

        #centertext {
            text-align: center;

            color: var(--white);
            margin-bottom: 48px;



            a:link,
            a:visited {
                color: var(--gfgold);
                font-weight: 600;

                &:hover,
                &:active {
                    color: var(--gfbluedark);
                    transition: 0.25s;
                }
            }
        }

        #buttons-thx {
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-evenly;
            margin: 16px 10% 100px;
            gap: 16px;

            @include sm{
                gap: 0px;
            }

            @include md {

                margin: 16px 20% 120px;
            }

            @include lg {

                margin: 16px 30% 150px;
            }

            button {
                

            }
        }
    }
}
