
#needidig{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". main .";
    background-color: var(--gfblue);


    >div{
        grid-area: main;
        #titlethanks{
            display: flex;
            align-items: center;
            font-size: rem-calc(24);
            padding-left: 24px;
            padding-right: 24px;
            justify-content:center;
            color: var(--gfgold);
            margin-top: 100px;

            #actualfont{
                font-size: rem-calc(20px);
                padding-left: 32px;
                padding-right: 32px;
                color: var(--white);

                @include md{
                    font-size: rem-calc(32px);

                }

                @include lg{
                    font-size: rem-calc(48);
                }
            }
        }
        #centertext{
            text-align: center;
            margin-bottom: 100px;
            color: var(--white);

            @include md{
                margin-bottom: 120px;
            }

            @include lg{
                margin-bottom: 150px;
            }

            a:link, a:visited{
                color: var(--white);
                
                    &:hover{
                        color: var(--gfblue);
                        transition: 0.25s;
                    }
                    &:active{
                        color: var(--gfgold);
                        transition: 0.25s;
                    }
                }
        }

    }
}