/* =============
    Footer
============= */
footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". main .";
    box-sizing: border-box;
    box-shadow: 0px -12px 10px rgba(0, 35, 50, 0.12);

    @include xl{
        grid-template-columns: auto 1168px auto;
    }
    
    >div{
        grid-area: main;
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: 
        "sales product"
        "sales company"
        "sales social";

        @include lg{
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-areas: 
            "sales product company social";
        }
        


        #column1{
            grid-area: sales;

        }

        #product{
            grid-area: product;

            #hidephone{
                display: none;
                @include lg{
                    display: block;
                }
                
            }
        }
        #company{
            grid-area: company;
            #hidephone2{
                display: none;
                @include lg{
                    display: block;
                }
                
            }
        }
        #community{
            grid-area: social;
        }
    }
}

#copyright{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". main .";

    #moregrid{
    grid-area: main;
    display: grid; 
    grid-template-columns: 50% auto;
    grid-template-areas:
    "img phone"
    "p ."
    }
    img{
        grid-area: img;
    }
    #hidephone3{
        grid-area: phone;
        display: none;
        @include lg{
            display: block;
        }
        
    }

    p{
        grid-area: p;
        text-align: left;
    }

}

img{
    height: 40px;
}

