/* =============
    Footer
============= */
footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". main .";
    box-sizing: border-box;
    box-shadow: 0px -12px 10px rgba(0, 35, 50, 0.12);

    @include xl{
        grid-template-columns: auto 1168px auto;
    }
    
    >div{
        grid-area: main;
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: 
        "sales product"
        "sales company"
        "sales social";

        @include lg{
            grid-template-columns: 25% 20% 20% 35%;
            grid-template-areas: 
            "sales product company social";
        }
        


        #column1{
            grid-area: sales;
            padding-right: 32px;
            h4{
                padding-bottom: 8px;
                border-bottom: 3px solid var(--gfblue); 
                font-size: rem-calc(20);
                font-weight: 600;
                
            }
            #hidephone4{
                margin-top: -12px;
                display: none;
                @include lg{
                    display: block;
                    font-size: rem-calc(16);
                    line-height: 18px;
                    font-weight:400;

                }
            }
            #mail{
                margin-top: -6px;
                font-size: rem-calc(14);
                @include md{
                    font-size: rem-calc(16);
                }
                a:link, a:visited{
                    color: var(--gfbluedark);
                    
                        &:hover{
                            color: var(--gfblue);
                            transition: 0.25s;
                        }
                        &:active{
                            color: var(--gfgold);
                            transition: 0.25s;
                        }
                    }
            }
            #call{
                margin-top: 12px;
                font-size: rem-calc(14);
                @include md{
                    font-size: rem-calc(16);
                }
                a:link, a:visited{
                    color: var(--gfbluedark);
                    
                        &:hover{
                            color: var(--gfblue);
                            transition: 0.25s;
                        }
                        &:active{
                            color: var(--gfgold);
                            transition: 0.25s;
                        }
                    }
            }
            #contact{
                #mail{
                    margin-top: -12px;
                    font-size: rem-calc(14);

                    @include md{
                        font-size: rem-calc(16);
                    }
                    a:link, a:visited{
                        color: var(--gfbluedark);
                        
                            &:hover{
                                color: var(--gfblue);
                                transition: 0.25s;
                            }
                            &:active{
                                color: var(--gfgold);
                                transition: 0.25s;
                            }
                        }
                    }
                #address{
                    margin-top: 12px;
                    font-size: rem-calc(14);
                    @include md{
                        font-size: rem-calc(16);
                    }
                    .italicbegone{
                        font-style: none;
                    }
                }
            }
        }

        #product{
            grid-area: product;
            @include lg{
                padding-right: 32px;
            }
            h4{
                padding-bottom: 8px;
                border-bottom: 3px solid var(--gfblue); 
                font-size: rem-calc(20);
                
            }

            #hidephone{
                display: none;

                @include lg{
                    display: block;
                    margin-top: -24px;
                    text-align: left;
                    margin-left: 0;
                    padding-left: 0;
                    font-size: rem-calc(15);
                    line-height: 18px;
                    font-weight:400;
                    li{
                        list-style: none;
                        padding-top: 12px;
                        a:link, a:visited{
                            color: var(--gfbluedark);
                            
                                &:hover{
                                    color: var(--gfblue);
                                    transition: 0.25s;
                                }
                                &:active{
                                    color: var(--gfgold);
                                    transition: 0.25s;
                                }
                            }

                    
                    }
                }
                
            }
        }
        #company{
            grid-area: company;
            @include lg{
                padding-right: 32px;
            }
            h4{
                padding-bottom: 8px;
                border-bottom: 3px solid var(--gfblue); 
                font-size: rem-calc(20);
                
            }
            #hidephone2{
                display: none;
                @include lg{
                    display: block;
                    margin-top: -24px;
                    text-align: left;
                    margin-left: 0;
                    padding-left: 0;
                    font-size: rem-calc(15);
                    line-height: 18px;
                    font-weight:400;
                    li{
                        list-style: none;
                        padding-top: 12px;
                        a:link, a:visited{
                            color: var(--gfbluedark);
                            
                                &:hover{
                                    color: var(--gfblue);
                                    transition: 0.25s;
                                }
                                &:active{
                                    color: var(--gfgold);
                                    transition: 0.25s;
                                }
                            }

                    
                    }
                }
                
            }
        }
        #community{
            grid-area: social;
            

            h4{
                padding-bottom: 8px;
                border-bottom: 3px solid var(--gfblue); 
                font-size: rem-calc(20);
            }
            #hidetitle{
                display: none;

                @include md{
                    display: block;
                }
            }
            #removetitle{
                @include md{
                    display: none;
                }
            }
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                gap: 60px;

                @include sm{
                    gap: 80px;
                }

                @include md{
                    gap: 16px;
                }
                
                /* display: grid;
                grid-template-columns: (6,1fr);
                grid-template-areas:
                "s1 s2 s3"
                "s4 s5 s6";
                width: 100%;
                align-content: center;
                @include md{
                    grid-template-areas:
                "s1 s2 s3 s4 s5 s6";
                }*/
                #s1{
                    /*grid-area: s1;*/
                    list-style: none;
                    font-size: rem-calc(40);
                    margin-top: -10px;
                    @include sm{
                        margin-top: -6px;
                    }
                     @include md{
                        margin-top: 0;
                    }
                    a:link, a:visited{
                        color: var(--gfbluedark);
                        
                            &:hover{
                                color: var(--gfblue);
                                transition: 0.25s;
                            }
                            &:active{
                                color: var(--gfgold);
                                transition: 0.25s;
                            }
                        }
                }

                #s2{
                    /*grid-area: s2;*/
                    list-style: none;
                    font-size: rem-calc(40);
                    margin-top: -10px;
                    @include sm{
                        margin-top: -6px;
                    }
                     @include md{
                        margin-top: 0;
                    }
                    a:link, a:visited{
                        color: var(--gfbluedark);
                        
                            &:hover{
                                color: var(--gfblue);
                                transition: 0.25s;
                            }
                            &:active{
                                color: var(--gfgold);
                                transition: 0.25s;
                            }
                        }
                }
                #s3{
                    /*grid-area: s3;*/
                    list-style: none;
                    font-size: rem-calc(40);
                    margin-top: -10px;
                    @include sm{
                        margin-top: -6px;
                    }
                     @include md{
                        margin-top: 0;
                    }
                    a:link, a:visited{
                        color: var(--gfbluedark);
                        
                            &:hover{
                                color: var(--gfblue);
                                transition: 0.25s;
                            }
                            &:active{
                                color: var(--gfgold);
                                transition: 0.25s;
                            }
                        }
                }
                #s4{
                    /*grid-area: s4;*/
                    list-style: none;
                    font-size: rem-calc(40);
                    margin-top: -48px;
                    @include sm{
                        margin-top: -80px;
                    }
                     @include md{
                        margin-top: 0;
                    }
                    a:link, a:visited{
                        color: var(--gfbluedark);
                        
                            &:hover{
                                color: var(--gfblue);
                                transition: 0.25s;
                            }
                            &:active{
                                color: var(--gfgold);
                                transition: 0.25s;
                            }
                        }
                }
                #s5{
                    /*grid-area: s5;*/
                    list-style: none;
                    font-size: rem-calc(40);
                    margin-top: -48px;
                    @include sm{
                        margin-top: -80px;
                    }
                     @include md{
                        margin-top: 0;
                    }
                    a:link, a:visited{
                        color: var(--gfbluedark);
                        
                            &:hover{
                                color: var(--gfblue);
                                transition: 0.25s;
                            }
                            &:active{
                                color: var(--gfgold);
                                transition: 0.25s;
                            }
                        }
                }
                #s6{
                    /*grid-area: s6;*/
                    list-style: none;
                    font-size: rem-calc(40);
                    margin-top: -48px;
                    @include sm{
                        margin-top: -80px;
                    }
                     @include md{
                        margin-top: 0;
                    }
                    a:link, a:visited{
                        color: var(--gfbluedark);
                        
                            &:hover{
                                color: var(--gfblue);
                                transition: 0.25s;
                            }
                            &:active{
                                color: var(--gfgold);
                                transition: 0.25s;
                            }
                        }
                }
            }
        }
    }
}

#copyright{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". main .";
    background-color: var(--gfbluedark);
    color: var(--white);
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    @include xl{
        grid-template-columns: auto 1168px auto;
    }

    #moregrid{
    grid-area: main;
    display: grid; 
    grid-template-columns: 50% auto;
    grid-template-areas:
    "img ."
    "p p";

    @include lg{
        grid-template-areas:
        "img phone"
        "p .";

    }
    img{
        grid-area: img;
        padding-top: 16px;
        height: 24px;

        @include lg{
            height: 40px;
            padding-top: 36px;
        }
    }
    #hidephone3{
        grid-area: phone;
        display: none;
        font-size: rem-calc(20);
        line-height: 24px;
        font-weight:400;
        @include lg{
            display: block;
            text-align: right;
            

        }
    
    }
    #heart{
        padding: 0px 6px 0px 4px;
    }
    p{
        grid-area: p;
        text-align: left;
        padding-bottom: 24px;
        width: 100%;

        @include lg{
            font-size: rem-calc(12);
            line-height: 14.4px;
            padding-bottom: 48px;
            margin-top: -20px
        }
    }

    }
    

}

img{
    height: 40px;
}

