/* =============
    Header  (SPECIFY BRANCH TO GRADE VIA FINAL)
============= */

#main-header{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". main .";
    box-shadow: 0px 4px 10px rgba(0, 35, 50, 0.25);

    >div{
        grid-area: main;
        display: grid;
        grid-template-columns: (3, 1fr);
        grid-template-areas:
        "h1 . h2"
        "h1 . h3";

        @include lg{
        grid-template-areas:
        "h1 h3 h3"
        }
        #glowlogo{
            grid-area:h1;
            padding-top: 10px;

            #pin{
                @include md{
                    display: none;
                }

            }
            #type{
                display: none;
                @include md{
                    display: block;
                }

                @include lg{
                    padding-top: 14px;
                }

            }

        }
        #burger-container{
            grid-area: h2;
            display: flex;
            align-items: center;
            justify-content: right;
            padding-left: 16px;
            padding: 16px 0px 16px 0px;
            #burger-btm{
               
            }


            @include lg{
                display: none;
            }
        }
        #main-menu{
            grid-area: h3;
            font-size: rem-calc(16);
            font-weight: 600;
            padding: 8px;

            ul{
                display: flex;
                justify-content: flex-start;
                margin-top: 26px;
                li{
                    list-style: none;
                    padding: 0px 16px 0px 16px;
                }

                #font-cart{

                }

                #log{

                }

                #sign{
                    margin-top: -12px;

                }

            }

        }
        #main-menu-2{

            display: none;
        }
    }
}

/*=====
keeps breaking, want to restart to see what i did wrong
#main-header{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". main .";
        z-index: 10000000000;
        width:100%;
        box-sizing: border-box;
        box-shadow: 0px 4px 10px rgba(0, 35, 50, 0.25);
        >div{
            grid-area: main;
            #glowlogo{
                grid-area: logo;
                padding: 20px 0px 0px;
                
                #pin{
                    padding-right: 20px;

                }
                #type{
                    display: none;

                }

            }

            #burger-container{
                display: flex;
                align-items: center;
                justify-content: right;
                padding-left: 16px;
                padding: 16px 0px 16px 0px;
                #burger-btn{
                    border: none;
                    background-color: var(--white);
                    font-size: rem-calc(40);
                    color: var(--gfbluedark);
                    cursor: pointer;
                    transition: .25s;
                    &:hover{
                    color: var(--gfblue);
                    }
                    &:active{
                        color: var(--gfgold);
                    }
                }
                @include lg{
                    display: none;
                }

            }

            #main-menu{
                ul{ 
                    font-size: rem-calc(16);
                    font-weight: 600;
                    @include lg{
                    display: flex;
                    justify-content: flex-start;
                    margin-top: 26px;
                  

                    cursor: pointer;
                }
                    margin: 0;
                    padding: 0;
                    li{
                        list-style: none;
                        padding: 16px;
                    }
                        #fontcart{
                        align-items:; 
                        box-sizing: border-box;


                        }
                        #sign{
                            margin-top: -12px;

                        }
                }

            }

            #main-menu-2{
                display: none;
               
                ul{
                    font-size: rem-calc(16);
                    font-weight: 600;
                    color: var(--gfblue) ;

                    @include lg{
                        display: flex;
                        justify-content: flex-end;
                        margin-top: 26px;
                    }
                    
                    margin: 0;
                    padding: 0;
                    li{
                        padding: 8px;
                        list-style: none;

                        #fontcart{

                        }

                        #sign{
                            color: white;
                            margin-top:-18px;
                        }
                    }
                }
            }
        }
        
} ============= */



img{
    height: 40px;
}

