/* =============
    Buttons
============= */
.blue-button{
    background-color: var(--gfblue);
    color: white !important;
    padding: 12px 18px !important;
    display: inline-block;
    border:none;
    border-radius: 14px;
    font-weight: 600;
    font-size: rem-calc(14);
    transition: 0.25s;

    &:active{
        background-color: var(--gfgold) !important;
    }

    &:hover{
        background-color: var(--gfbluelight);
    }
}
