/* =============
    Navigation
============= */
html{
    scroll-behavior: smooth;
}
.show-menu{
    display: block !important;
}
#main-menu{
    display: none;

    @include lg{
        display: block;
    }
}

#main-menu-2{
    display: none;

    @include lg{
        display: block;
    }

}

li{
    a:link, a:visited{
        display:inline-block;
        transition: 0.25s;
        color: var(--gfbluedark);

        &:hover{
            color: var(--gfblue);
        }
        &:active{
            color: var(--gfgold);
        }
}
}