/* =============
    Navigation
============= */
html {
    scroll-behavior: smooth;
}

.show-menu {
    display: block !important;
}

#main-menu {
    display: none;

    @include lg {
        display: block;
    }

    ul {
        @include lg{
            display: flex;
            justify-content: flex-start;
            align-items:baseline;
            height: 100%;
        }

        li {
            text-align: right;
            font-weight: 600;



            @include lg{
                margin-left: 24px;
            }

            a:link,
            a:visited {
                display: inline-block;
                transition: 0.25s;
                color: var(--gfbluedark);
                padding-bottom: 24px;

                &:hover {
                    color: var(--gfblue);
                }

                &:active {
                    color: var(--gfgold);
                }

                @include lg{
                    padding-bottom: 0;
                }
            }
        }

        #nav-start{

            @include lg{
                margin-left: 8px;
            }
        }

            #cart-icon{
                display: none;

                @include lg{
                    display: block;
                }

            }

            #cart-word{
                @include lg{
                    display: none;
                }
            }

            #sign{
                padding-bottom: 16px;
            }


        #gallery-button{
            margin-right: auto;
        }
    }


}

// #main-menu-2{
//     display: none;

//     @include lg{
//         display: block;
//     }

// }