#checkout-grid-title {
    background-color: var(--gfbluemed);
    background-image: url("../img/GlowforgeTiledInvert.png");
    width: 100%;
    z-index: 10000;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". t .";

    @include xl {
        grid-template-columns: auto 1168px auto;
    }

    #checkout-title {
        grid-area: t;
        padding-top: 100px;
        padding-bottom: 24px;
        color: var(--white);
        font-family: 'arvo', serif;
        font-size: rem-calc(24);

        @include lg {
            padding-top: 94px
        }

    }
}


#gridcontact {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". main .";

    @include xl {
        grid-template-columns: auto 1168px auto;
    }

    >div {
        grid-area: main;
        padding-top: 8px;



        @include md {
            display: grid;
            grid-template-columns: 55% auto;
            grid-template-areas:
                "c1 c2";
        }

        @include lg {
            display: grid;
            grid-template-columns: 60% auto;
            grid-template-areas:
                "c1 c2";
        }

        #column1 {
            grid-area: c1;
            @include md{
                border-right: 6px solid var(--gfbluemed);
                margin-top: 24px;
                margin-bottom: 75px;
            }
            #contact-info {
                h1 {
                    font-family: 'Arvo', serif;
                    font-size: rem-calc(36);
                    border-bottom: 4px solid var(--gfgold);
                    padding-bottom: 8px;

                    @include md {
                        margin-right: 48px;
                    }

                }

                #forms-contact {
                    @include md {
                        display: grid;
                        grid-template-columns: 0px auto 48px;
                        grid-template-areas: ". form .";
                    }


                    #allforms1 {
                        grid-area: form;
                        padding: 16px 0px;

                        form {
                            input {
                                box-sizing: border-box;
                                width: 100%;
                                padding: 8px;
                                margin: 8px 0px;
                                color: var(--gfblue);
                                font-style: italic;

                                ;

                            }
                        }

                        #forms-horizontal-2 {
                            @include lg {
                                display: flex;
                                justify-content: space-between;

                                form {
                                    input {
                                        width: 100%;
                                        margin-right: 60px;

                                    }
                                }

                            }


                        }

                        #info-why {
                            text-align: right;
                            margin-top: 16px;


                            a:link,
                            a:visited {
                                display: inline-block;
                                transition: 0.25s;
                                color: var(--gfblue);
                                padding-bottom: 24px;
                                font-size: rem-calc(15);
                                font-style: italic;
                                text-decoration: underline;
                                color: var(--gfblue);

                                &:hover,
                                &:active {
                                    color: var(--gfgold);
                                }
                            }
                        }

                        #contact-sign-links {

                            display: flex;
                            align-items: flex-end;
                            justify-content: flex-end;
                            gap: 16px;

                            #haveacct {
                                margin-bottom: -20px;

                                a:link,
                                a:visited {
                                    display: inline-block;
                                    transition: 0.25s;
                                    color: var(--gfblue);
                                    padding-bottom: 24px;
                                    font-size: rem-calc(16);
                                    font-style: italic;
                                    text-decoration: underline;
                                    color: var(--gfblue);

                                    &:hover,
                                    &:active {
                                        color: var(--gfgold);
                                    }

                                }

                            }

                        }
                    }

                }


            }

            #shipping-info {
                h1 {
                    font-family: 'Arvo', serif;
                    font-size: rem-calc(36);
                    border-bottom: 4px solid var(--gfgold);
                    padding-bottom: 8px;

                    @include md {
                        margin-right: 48px;
                    }

                }

                #forms-shipping {
                    @include md {
                        display: grid;
                        grid-template-columns: 0px auto 48px;
                        grid-template-areas: ". form .";
                    }


                    #allforms2 {
                        grid-area: form;
                        padding: 16px 0px;

                        form {
                            input {
                                box-sizing: border-box;
                                width: 100%;
                                padding: 8px;
                                margin: 8px 0px;
                                color: var(--gfblue);
                                font-style: italic;
                            }
                        }

                        #forms-horizontal-2 {
                            @include lg {
                                display: flex;
                                justify-content: space-between;

                                form {
                                    input {
                                        width: 100%;
                                        margin-right: 60px;

                                    }
                                }

                            }


                        }

                        #forms-horizontal-3 {
                            @include lg {
                                display: flex;
                                justify-content: space-between;

                                form {
                                    input {
                                        width: 100%;
                                        margin-right: 16px;


                                    }
                                }

                            }


                        }
                    }
                }
            }

            #pick-shipping {
                margin-top: 16px;

                @include md {
                    display: grid;
                    grid-template-columns: 16px auto 72px;
                    grid-template-areas: ". form .";
                }

                #pick-grid {
                    grid-area: form;

                    #pick-content {
                        background-color: var(--gfgrey);
                        padding: 24px;
                        border-radius: 16px;

                        #fiveday {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            label {

                                input {}

                                span {}


                            }

                            p {}
                        }
                        #twoday {
                            display: flex;
                        justify-content: space-between;
                        align-items:center;
                            label {

                                input {}

                                span {}

                                p {}
                            }
                        }

                            #same {
                                display: flex;
                         justify-content: space-between;
                        align-items:center;
                                label {

                                    input {}

                                    span {}


                                    p {}
                                
                            }
                        }
                    }
                }
            }

            #directional-link-check {
                margin-top: 32px;
                margin-bottom: 108px;
                @include md {
                    display: grid;
                    grid-template-columns: 16px auto 72px;
                    grid-template-areas: ". link .";
                }
                
                #link-check-grid{
                    grid-area: link;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    #left-side{
                        a:link,
            a:visited {
                display: inline-block;
                transition: 0.25s;
                color: var(--gfbluedark);
                font-size: rem-calc(15);


                &:hover {
                    color: var(--gfblue);
                }

                &:active {
                    color: var(--gfgold);
                }
}
                    }

                    #right-side{
                        #mobilenewrev{
                            @include md{
                                display: none;
                            }
                        }

                        #otherproceed{
                            display: none;

                            @include md{
                                display: block;
                            }
                        }
                    }
                }

                #ileft{
                    padding-right:8px;
                }

                #iright{
                    padding-left: 8px;
                }
            }
        }


        #column2{
            grid-area: c2;
            display: none;
            
            @include md{
                display: block;
                display: grid;
                grid-template-columns: 48px auto 0px;
            grid-template-areas:". main .";
            }
            

            #ctwogrid{
                grid-area: main;
                margin-top: 32px;

                #cardformatinv{
                    background-color: var(--gfgrey);
                    padding: 24px;
                    border-radius: 16px;
                }

                #cardformatwarr{
                    margin-top: 32px;
                    background-color: var(--gfbluedark);
                    color: var(--white);
                    padding: 24px;
                    border-radius: 16px;

                    #warrcontent{
                        h4{
                            font-family: 'Arvo', serif;
                            font-size: rem-calc(20);
                        }

                        p{
                            margin-top: -8px;
                            font-size: rem-calc(16);
                            line-height: rem-calc(30);
                        }

                    }
                }

                #totals{
                    margin-top: 32px;

                    #subtotal{
                        display: flex;
                        justify-content: space-between;
                    }

                    #taxes{
                        display: flex;
                        justify-content: space-between;

                    }

                    #shiptotal{
                        display: flex;
                        justify-content: space-between;

                    }

                    #grandtotal{
                        display: flex;
                        justify-content: space-between;
                    }

                    #buynow{
                        margin-top: 32px;
                        text-align: right;
                    }
                }
            }

        }
    }
}