#checkout-grid-title {
    background-color: var(--gfbluemed);
    background-image: url("../img/GlowforgeTiledInvert.png");
    width: 100%;
    z-index: 10000;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". t .";

    @include xl {
        grid-template-columns: auto 1168px auto;
    }

    #checkout-title {
        grid-area: t;
        padding-top: 100px;
        padding-bottom: 24px;
        color: var(--white);
        font-family: 'arvo', serif;
        font-size: rem-calc(24);

        @include lg {
            padding-top: 94px
        }

    }
}


#gridcontact {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". main .";

    @include xl {
        grid-template-columns: auto 1168px auto;
    }

    >div {
        grid-area: main;
        padding-top: 8px;



        @include md {
            display: grid;
            grid-template-columns: 55% auto;
            grid-template-areas:
                "c1 c2";
        }

        @include lg {
            display: grid;
            grid-template-columns: 60% auto;
            grid-template-areas:
                "c1 c2";
        }

        #column1 {
            grid-area: c1;

            #contact-info {
                h1 {
                    font-family: 'Arvo', serif;
                    font-size: rem-calc(36);
                    border-bottom: 4px solid var(--gfgold);
                    padding-bottom: 8px;
                    margin-right: 40px;
                }

                #forms-contact {
                    @include md{
                        display: grid;
                        grid-template-columns: 0px auto 60px;
                        grid-template-areas: ". form .";
                    }
                    

                    #allforms1 {
                        grid-area: form;
                        padding: 16px 0px;

                        form {
                            input {
                                width: 100%;
                                padding: 8px;
                                margin: 8px 0px;
                                ;

                            }
                        }

                        #forms-horizontal-2 {
                            @include lg {
                                display: flex;
                                justify-content: space-between;

                                form {
                                    input {
                                        width: 100%;
                                        margin-right: 60px;

                                    }
                                }

                            }


                        }

                        #info-why {
                            text-align: right;

                            @include md{
                                margin-right: -18px;
                            }
                            

                            a:link,
                            a:visited {
                                display: inline-block;
                                transition: 0.25s;
                                color: var(--gfblue);
                                padding-bottom: 24px;
                                font-size: rem-calc(15);
                                font-style: italic;
                                text-decoration: underline;
                                color: var(--gfblue);

                                &:hover,
                                &:active {
                                    color: var(--gfgold);
                                }
                            }
                        }

                        #contact-sign-links{
                            @include md{
                                margin-right: -18px;
                            }
                            display: flex;
                            align-items: flex-end;
                            justify-content: flex-end;
                            gap: 16px;

                            #haveacct{
                                margin-bottom: -20px;
                                a:link,
                            a:visited {
                                display: inline-block;
                                transition: 0.25s;
                                color: var(--gfblue);
                                padding-bottom: 24px;
                                font-size: rem-calc(16);
                                font-style: italic;
                                text-decoration: underline;
                                color: var(--gfblue);

                                &:hover,
                                &:active {
                                    color: var(--gfgold);
                                }

                            }

                        }

                    }
                }

                #shipping-info {}





            }

            #column2 {
                grid-area: c2;

            }

        }
    }
}
}